@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  padding: 0;
  box-sizing: border-box;;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*begin navigation bar css*/
li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  background-image: linear-gradient(to bottom, rgba(174,22,35,0.2), rgba(255,255,255,0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: relative;
  z-index: 2;
}

.logo {
  cursor: pointer;
  width: 75px;
  height: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #ffffcc;
}

.contactli {
  display: none;
}

button {
  padding: 9px 25px;
  background-color: rgba(174,22,35,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(174,22,35,0.7);
}
/*end navigation bar css*/

/*begin hamburger responsive css*/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226,226,226);
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 12vh;
    background-color: #ffffcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
    background: #aa3333;
    color: white;
    display: block;
    float: none;
    overflow: hidden;
    padding: 20px 0 20px 25px;
    width: 100%;
  }

  .nav-links li a {
    background: #aa3333;
  }

  .nav-links li .contactli {
    display: block;
  }

  .contact {
    display: none;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
  background-color: #ffffcc;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
  background-color: #ffffcc;
}
/*end hamburger responsive css*/

/*begin parallax effect*/

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("images/skierBG.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("images/winterC1.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("images/winteroutfit1.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

/*end parallax effect*/
