@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  padding: 0;
  box-sizing: border-box;;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*begin navigation bar css*/
li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: relative;;
  z-index: 2;
}

.logo {
  cursor: pointer;
  width: 75px;
  height: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #ffffcc;
}

.contactli {
  display: none;
}

button {
  padding: 9px 25px;
  background-color: rgba(174,22,35,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(174,22,35,0.7);
}
/*end navigation bar css*/

/*begin hamburger responsive css*/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226,226,226);
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 12vh;
    background-color: #ffffcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
    background: #aa3333;
    color: white;
    display: block;
    float: none;
    overflow: hidden;
    padding: 20px 0 20px 25px;
    width: 100%;
  }

  .nav-links li a {
    background: #aa3333;
  }

  .nav-links li .contactli {
    display: block;
  }

  .contact {
    display: none;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
  background-color: #ffffcc;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
  background-color: #ffffcc;
}
/*end hamburger responsive css*/

/*begin parallax effect*/
.torso {
  top: -10vw;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}

.torso, .torso:before {
  background: 50% 50% / cover;
}

.torso::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url("images/skierBG.jpg");
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2.4);
  z-index: -1;
  min-height: 100vh;
}

.torso * {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
}

.torso a {
  margin-top: 5px;
}

.clothingbtn {
  display: block;
  margin: auto;
  border-radius: 6px;
  color: white;
}

.box {
  background-color: rgba(226,226,226,0.5);
  width: 400px;
  height: 200px;
  display: table-cell;
  vertical-align: middle;
}

.boxbox {
  max-width: 400px;
  display: inline-block;
}

.boxboxbox {
  margin: auto;
}
/*end parallax effect*/
/*begin legs*/
.legs {
  position: absolute;
  top: 900px;
  height: 500px;
  width: 100%;
  background-image: url("images/winterC1.jpg");
  background-size: cover;
  transform-origin: center center 0;
  padding: 13vw 0 5vw;
}

.legs * {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
}

.legs a {
  margin-top: 5px;
}

.clothingbtn {
  display: block;
  margin: auto;
  border-radius: 6px;
  color: white;
}

.torso::before {
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  display: block;
  background-size: cover;
  z-index: -1;
  min-height: 100vh;
}
/*end legs*/
